{% extends "bootstrap/base.html" %}

{% block title %}
Flask, Bokeh, MathJax example
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css"/>
{% endblock%}


{% block scripts %}
{{ super() }}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: {
     equationNumbers: {  autoNumber: "AMS"  },
     extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
  }
});
</script>
<script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type="text/javascript">
function executeQuery() {
  $.ajax({
    url: $SCRIPT_ROOT + '/_get_date',
    success: function(response) {
      // do something with the return value here if you like
      $('#result').text(response.result);
      console.log(response);
    }
  });
  setTimeout(executeQuery, 5000); // you could choose not to continue on failure...
}

$(document).ready(function() {
  // run the first time; all subsequent calls will take care of themselves
  $.ajax({
    url: $SCRIPT_ROOT + '/_get_date',
    success: function(response) {
      // do something with the return value here if you like
      $('#result').text(response.result);
      console.log(response);
    }
  });
  setTimeout(executeQuery, 5000);
});
</script>
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
{{ plot_script|indent(4)|safe }}
{% endblock %}


{% block content %}
<a href="https://github.com/xaratustrah/flask_bokeh" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;"
    src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
    alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

<div class="alert alert-success" role="alert">
    This web page visualizes the function \(
    u(t) = Ae^{-bt}\sin (w t), \hbox{ for } t\in [0,T]
    \).
</div>
Current time and date:
<p><span id="result"></span></p>
<div>Parameters:</div>
<form method=post action="">
    <table>
        {% for field in form %}
        <tr>
            <td class="name"><span class="label label-primary">{{ field.name }}</span></td>
            <td>{{ field(size=12) }}</td>
            <td>{{ field.label }}</td>
            {% if field.errors %}
            <td>
                <ul class=errors>
                    {% for error in field.errors %}
                    <li><font color="red">{{ error }}</font></li>
                    {% endfor %}
                </ul>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <p>
        <button type="submit" class="btn btn-primary btn-lg">Compute</button>
        <!--<input type=submit value=Compute>-->
    </p>
</form>

{{ plot_div|indent(4)|safe }}
<!-- Use a span to show the results -->
{% endblock %}
